<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/style/home.css" type="text/css">

    <title>Home</title>
</head>

<body>
    <div style="position: relative;top: 50%;">
        <div class="topnav" id="myTopnav">
            <div class="container">
                <a href="/" class="home-tag" style="color: black;" id="home">Home</a>
                <div id="alignment">


                    <a href="/profile">About us</a>
                    <a href="/profile">Contact us</a>
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>

                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i style="font-size: 30px;display: none;" class="fa fa-times" aria-hidden="true"></i>
                    <i style="font-size: 30px;" class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>


<% if(user != undefined){ %>
<% if(user.usertype === "seller"){ %>
    <!-- add scrape button and the popup model is in line 258-->
    <div id="bottomblur" class="container-fluid ">
        <div id="addScrap" style="z-index:1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModals"
                style="background-color: #000080;border-radius: 75px; color: white;outline: none;padding: 10px;padding-bottom: 12px;
                                                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                Add scrap details
            </button>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- add scrape form data -->
                    <div>
                        <form action="/addscarp" method="POST" enctype="multipart/form-data">
    
                            <input type="hidden" class="form-control" name="userid" value="<%= user._id %>">
    
    
                            <div class="custom-file">
                                <label for="scarpType">Image : <span style="color: red;">*</span></label>
                                <input type="file" class="custom-file-input" id="customFile" name="images" required>
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <div class="form-group">
                                <label for="scarpType">scrap type : <span style="color: red;">*</span></label>
                                <select id="scarpType" name="scarpType" class="form-control">
                                    <option value="">select</option>
                                    <option value="Books">Books</option>
                                    <option value="Bottels">Bottels</option>
                                    <option value="Batteries">Batteries</option>
    
                                </select>
                            </div>
                            <div>
                                <p id="booksPop" style="display: none;color: forestgreen;font-weight: 700;">Market price for Books is 100rs/Kg</p>
                                <p id="bottelsPop" style="display: none;color: forestgreen;font-weight: 700;">Market price for Bootels is 200rs/Kg</p>
                                <p id="batteriesPop" style="display: none;color: forestgreen;font-weight: 700;">Market price for Batteries is 150rs/Kg</p>
                            </div>
                            <div class="form-group">
                                <label for="validationServer01">H-no :</label>
                                <input type="text" class="form-control" id="validationServer01" placeholder="Enter hno"
                                    name="hno">
    
                            </div>
    
                            <div class="form-group">
                                <label for="village">village:</label>
                                <input type="text" class="form-control" placeholder="Enter village" name="village">
                            </div>
                            <div class="form-group">
                                <label for="street">street:</label>
                                <input type="text" class="form-control" placeholder="Enter street" name="street">
                            </div>
                            <div class="form-group">
                                <label for="mandal">mandal:</label>
                                <input type="text" class="form-control" placeholder="Enter mandal" name="mandal">
                            </div>
                            <div class="form-group">
                                <label for="district">district:</label>
                                <input type="text" class="form-control" placeholder="Enter district" name="district">
                            </div>
                            <div class="form-group">
                                <label for="state">state:</label>
                                <input type="text" class="form-control" placeholder="Enter state" name="state">
                            </div>

                            <div>
                                <input type="hidden" class="form-control"  name="time" id="postTime">
                           
                                <input type="hidden" class="form-control"  name="date" id="postDate">
                            </div>

                            <div class="form-group">
                                <label for="pincode">pincode:</label>
                                <input type="text" class="form-control" placeholder="Enter pincode" name="pincode">
                            </div>
    
    
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    style="background-color: #000080;border-radius: 30px;border: none; color: white;outline:
                 none;padding: 8px;padding-bottom: 9px;padding-left: 15px; padding-right: 15px;">Close</button>
                    <button type="submit" class="btn btn-primary"
                    style="background-color: #000080;border-radius: 30px;border: none; color: white;outline:
                 none;padding: 8px;padding-bottom: 9px;padding-left: 15px; padding-right: 15px;">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>

<% } %>
<% }  %>
    
    
       <% if(user != undefined){ %>
           <% if(user.usertype === "buyer"){ %>
                <div class="buyerSection">
                    <div class="container">
                        <div style="margin-top: 50px;display: flex;">
                           <div>
                                <form action="/" method="get">
                                    <input type="hidden"  name="latitude" id="latitudes">
                                    <input type="hidden"  name="longitude" id="longitudes">
                                    <input type="hidden" value="50" name="distance">
                                    <input type="submit" value="Get users NearBy" id="getuserNearBtn"
                                        style="background-color: #000080;border-radius: 75px;border: none; color: white;outline: none;padding: 10px;padding-bottom: 12px;">
                                </form>
                           </div>

                           <div id="acceptedIteams" style="cursor: pointer;">
                               <p style="margin-left: 20px;margin-top: 12px;" id="accepteds"> <strong>Accepted Orders</strong></p>
                           </div>
                        <div id="buyerhistory" style="cursor: pointer;">
                            <p style="margin-left: 20px;margin-top: 12px;" id="buyerhist"> <strong>History</strong></p>
                        </div>
                        </div><hr>

                        <div id="foundusersNear" style="margin-bottom: 50px;">
                           <%  if(!usersFound){ %>
                                <p style="text-align: center;margin-top: 20%;">Click on get users button To get users near you</p>
                            <% }else{ %>
                               <% if(usersFound.length <= 0){ %>
                                <p style="text-align: center;margin-top: 20%;">No users Found Near you</p>
                               <% }else{ %>
                                    <% usersFound.forEach((users) => { %>
                                    <div id="foundData">
                                        <div style="padding: 10px;" class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="<%= users.image %>" loading="eager" alt="" width="100%" height="230" style="margin-top: 5px;border-radius: 5px;">
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="margin-top : 10px;">
                                                        <p><strong>Name</strong> : <%= users.userid.name %></p>
                                                        <p><strong>Phone Number</strong> : <%= users.userid.phonenumber %></p>
                                                        <p><strong>Scrape Type</strong> : <%= users.scarpType %></p>
                                                        <p><strong>Address </strong> : <%= users.hno %>,<%= users.village %>,<%= users.street %>
                                                            <%= users.pincode %>,<%= users.state %> </p>
                                                        <p> <strong>posted on</strong> : <%= users.date %> , <%= users.time %> </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="display: flex;margin-left: 1px;">
                                                        <p class="kmss" style="font-weight:bold;"></p>
                                                    
                                                    </div>
                                                    <div style="display: flex;margin: 0px;">
                                                        <div>
                                                            <form action="/acceptOrder" method="post">
                                                                <input type="hidden" name="soldDataId" value="<%= users._id %>">
                                                                <input type="hidden" name="sellerid" value="<%= users.userid._id %>">
                                                                <input type="hidden" name="buyerid" value="<%= user._id %>">
                                                                <input type="submit" value="Accept order" id="acceptedOrderSubmitBtn"
                                                                     style="background-color: #000080;border-radius: 75px;border: none; color: white;outline: none;padding: 8px;padding-bottom: 9px;">
                                                             </form>
                                                        </div>
                                                     
                                          <div>
                                             <div style="background-color: #000080;border-radius: 20px;padding: 8px ;width: 40px;margin-left: 5px;"  >
                           
                                            <a type="button" data-toggle="modal" data-target="#popup<%= users._id %>"><i class="fa fa-location-arrow" aria-hidden="true" style="color: white;margin-left: 5px;"></i></a>
                                                    
                                             </div>
                                             
                                            <!-- Modal -->
                                            <div class="modal fade" id="popup<%= users._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                            
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="hidden" class="mapvals" value="<%= users.location.coordinates[1] %>,<%= users.location.coordinates[0] %>">
                                                            <iframe
                                                                src="https://www.google.com/maps?q=<%= users.location.coordinates[1] %>,<%= users.location.coordinates[0] %>&z=15&output=embed"
                                                                width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                                                                tabindex="0"></iframe>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            </div>
                                                                    
                                         <div>
                                             <div style="background-color: #000080;border-radius: 20px;padding: 8px ;width: 40px;margin-left: 5px;">
                                               <a href="tel:<%= users.userid.phonenumber %>"><i class="fa fa-phone" aria-hidden="true" style="color: white;margin-left: 5px;"></i></a>
                                             </div>
                                        </div>
                                        
                                     </div>
                                     <div>
                                        
                                     </div>
                                </div>
                             </div>
                        </div>
                     </div>
                    <% }) %>
                <% } %>
        <%  } %>
    </div>


    <!-- accepted orders section -->
    <div id="acceptedOrderFound" style="display: none;">
        <%  if(acceptedOrders.length > 0){ %>
            <% acceptedOrders.forEach((seller) => { %>
            <% if(seller.soldDataId.orderStatus === "ongoing"){ %>
                    <div id="foundData">
                        <div style="padding: 10px;" class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    
                                    <img src="<%= seller.soldDataId.image %>" loading="eager" alt="" width="100%" height="230"
                                        style="margin-top: 5px;border-radius: 5px;">
                                </div>
                                <div class="col-md-4">
                                                        
                                   <div style="margin-top: 10px;">
                                        <p><strong>Name</strong> : <%= seller.soldDataId.userid.name %></p>
                                        <p><strong>Phone Number</strong> : <%= seller.soldDataId.userid.phonenumber %></p>
                                        <p><strong>Scrape Type</strong> : <%= seller.soldDataId.scarpType %></p>
                                        <p><strong>Address </strong> : <%= seller.soldDataId.hno %>,<%= seller.soldDataId.village %>,<%= seller.soldDataId.street %>
                                            <%= seller.soldDataId.pincode %>,<%= seller.soldDataId.state %> </p>
                                        <p> <strong>posted on</strong> : <%= seller.soldDataId.date %> , <%= seller.soldDataId.time %> </p>
                                   </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="display: flex;margin: 10px;">
                                        <div>
                                            <form action="/completeOrder" method="post">
                                                <input type="hidden" name="acceptedOrderId" value="<%= seller._id %>">
                                                <input type="hidden" name="sellerid" value="<%= seller.soldDataId.userid._id %>">
                                                <input type="hidden" name="sellerdataId" value="<%= seller.soldDataId._id %>">
                                                <input type="submit" value="Complete order"
                                                                            style="background-color: #000080;border-radius: 75px;border: none; color: white;outline: none;padding: 8px;padding-bottom: 9px;">
                                            </form>
                                        </div>

                                        <div style="margin-left: 5px;"> 
                                            <form action="/rejectOrder" method="post">
                                                <input type="hidden" name="acceptedOrderId" value="<%= seller._id %>">
                                                <input type="hidden" name="sellerdataId" value="<%= seller.soldDataId._id %>">
                                                <input type="submit" value="Reject order"
                                                                            style="background-color: #000080;border-radius: 75px;border: none; color: white;outline: none;padding: 8px;padding-bottom: 9px;">
                                            </form>
                                        </div>

                                        <div>
                                        <div style="background-color: #000080;border-radius: 20px;padding: 8px ;width: 40px;margin-left: 2px;">
                                                                    
                                        <a type="button" data-toggle="modal" data-target="#popup<%= seller._id %>   "><i class="fa fa-location-arrow"
                                                aria-hidden="true" style="color: white;margin-left: 5px;"></i></a>
                                        </div>
                                                                
                                        <!-- Modal -->
                                        <div class="modal fade" id="popup<%= seller._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                                
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <iframe
                                                            src="https://www.google.com/maps?q=<%= seller.soldDataId.location.coordinates[1] %>,<%= seller.soldDataId.location.coordinates[0] %>&z=15&output=embed"
                                                            width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                                                            tabindex="0"></iframe>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                        <div>
                                        <div style="background-color: #000080;border-radius: 20px;padding: 8px ;width: 40px;margin-left: 2px;">
                                           <a href="tel:<%= seller.soldDataId.userid.phonenumber %>"><i class="fa fa-phone" aria-hidden="true" style="color: white;margin-left: 5px;"></i></a>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <% } %>
            <% }) %>
        <%  }else{ %>
        <p style="text-align: center;margin-top: 20%;">No accepted orders</p>
        <% } %>
    </div>

    <!-- buyer history section -->
    <div class="container" id="buyerHistorySection" style="display: none;margin-bottom: 100px;">
       <% if(user.completedOrders.length > 0){ %>
           <% user.completedOrders.forEach((buyerHis) => { %>
               <div id="foundData">
                    <div class="container" style="padding: 10px;">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/<%= buyerHis.image %>" loading="eager" alt="" width="100%" height="230"
                                    style="margin-top: 5px;border-radius: 5px;">
                            </div>
                            <div class="col-md-4">
                                <div style="margin-top: 10px;">
                                    <p> <strong>Name</strong> : <%= buyerHis.userid.name %></p>
                                    <p> <strong>Phone Number</strong> : <%= buyerHis.userid.phonenumber %></p>
                                    <p> <strong>Plastic type</strong> : <%= buyerHis.scarpType %></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="margin-top: 10px;"> 
                                    <p><strong>Address </strong> :
                                        <%= buyerHis.hno %>,<%= buyerHis.village %>,<%= buyerHis.street %>
                                        <%= buyerHis.pincode %>,<%= buyerHis.state %> </p>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            <% }) %>
      <% }else{ %>
        <div>
            <p style="text-align: center;margin-top: 20%;">No History found</p>
        </div>
     <% } %>
    </div>

    
    </div>
</div>
<%}else if(user.usertype === "seller"){ %>
    <div class="sellerSection">
         <div class="container">
            <div style="display: flex;margin-top: 50px;">
                 <div id="postedDataBtn">
                     <p class="active" style="padding: 5px;cursor: pointer;" id="posted"><strong> Your seller data</strong> </p>
                 </div>
                <div id="ongoingDataBtn">
                     <p style="margin-left: 15px;padding: 5px;cursor: pointer;" id="ongo"><strong> Ongoing orders</strong> </p>
                 </div>
                <div id="sellerHistoryBtn">
                    <p style="margin-left: 15px;padding: 5px;cursor: pointer;" id="sellerHist"><strong> History</strong> </p>
                </div>
            </div>
             <hr>
         </div>

 <div class="container" id="postedData" style="margin-bottom: 200px;">
                        
<% if(userData){ %>
     <%if(userData.length > 0){ %>
                    <%userData.forEach((sellerData) => { %>
             
                                    
             <div >
                <div id="foundData">
                    <div style="padding: 10px;" class="container">
                        <div class="row">
                            <div class="col-md-4">
                                 <img src="<%= sellerData.image %>" loading="eager" alt="" width="100%" height="230"
                                      style="margin-top: 5px;border-radius: 5px;">
                             </div>
                             <div class="col-md-4">
                                <div style="margin-top: 10px;">
                                      <p><strong>Scrape Type</strong> : <%= sellerData.scarpType %></p>
                                      <p><strong>Address</strong> : <%= sellerData.hno %> ,<%= sellerData.village %>,
                                      <%= sellerData.street %>,
                                      <%= sellerData.mandal %>, <%= sellerData.district %>, <%= sellerData.pincode %> </p>
                                    <p> <strong>posted on</strong> : <%= sellerData.date %> , <%= sellerData.time %> </p>
                                </div>
                             </div>
                            <div class="col-md-4">
                                 <div style="display: flex;margin: 10px;">
                                   

                                    <a href="/addscarp/update/<%= sellerData._id %>"
                                        style="background-color: #000080;border-radius: 30px;border: none; color: white;outline: none;padding:
                                        8px;padding-bottom: 9px;padding-left: 15px; padding-right: 15px;text-decoration: none;">EDIT</a>
 
                                 <div>
                                     <div
                                         style="background-color: #000080;border-radius: 20px;padding: 8px ;width: 40px;margin-left: 5px;">
                                         <a href="/addscarp/delete/<%= sellerData._id %>"><i class="fa fa-trash" aria-hidden="true"
                                                style="color: white;margin-left: 5px;"></i></a>
                                    </div>
                                        
                                 </div>
                                        
                                        
                            </div>
                         </div>
                     </div>
                 </div>
            </div>
         </div>

                                   
                                   
             <%}) %>
          <% }else{ %>
              <p style="text-align: center;margin-top: 20%;">Post the scrape data</p>
          <% } %>
      <% }else{ %>
        <p style="text-align: center;margin-top: 20%;">You haven't posted any data</p>
      <% } %>
 </div>

<div id="ongoingOrder" class="container" style="display: none;margin-bottom: 200px;">
      <% if(acceptedOrders.length > 0){ %>
          <% acceptedOrders.forEach((order) => { %>
             <% if(order.soldDataId.orderStatus === "ongoing"){ %>
                     <div id="foundData">
                         <div style="padding: 10px;" class="container">
                            <div class="row">
                                <div class="col-md-4">
                                     <img src="<%= order.soldDataId.image %>" loading="eager" alt="" width="100%" height="230"
                                                     style="margin-top: 5px;border-radius: 5px;">
                                             </div>
                                            <div class="col-md-4">
                                                <div style="margin: 10px;">
                                                     <p><strong>Scrape Type</strong> : <%= order.soldDataId.scarpType %></p>
                                                    <p><strong>Address</strong> : <%= order.soldDataId.hno %> ,<%= order.soldDataId.village %>,
                                                          <%= order.soldDataId.street %>,
                                                        <%= order.soldDataId.mandal %>, <%= order.soldDataId.district %>,
                                                        <%= order.soldDataId.pincode %> </p>
                                                    <p> <strong>posted on</strong> : <%= order.soldDataId.date %> , <%= order.soldDataId.time %> </p>
                                                 </div>
                                              </div>
                                             <div class="col-md-4">
                                        
                                                <div>
                                                    <p style="margin : 10px;"><strong>Buyer Name </strong>: <%= order.buyerid.name %></p>
                                                </div>
                                                
                                                <div>
                                                    <p style="margin : 10px;"><strong>Buyer Contact </strong>: <%= order.buyerid.phonenumber %> </p>
                                                </div>
                                                

                                                <div style="display: flex;margin-left: -20px;margin-top: 30px;">
                                                    
                                                        <div
                                                            style="background-color: #000080;border-radius: 20px;padding: 8px ;width: 40px;margin-left: 30px;margin-top: -5px;">
                                                            <a href="tel:<%= order.buyerid.phonenumber %>"><i class="fa fa-phone" aria-hidden="true" style="color: white;margin-left: 5px;"></i></a>
                                                        </div>
                                                
                                                    
                                                
                                                    <div style="margin-left:5px;margin-top: -7px;">
                                                        <form action="/sellerCancelOrder" method="post">
                                                            <input type="hidden" value="<%= order._id %>" name="acceptedOrderId">
                                                            <input type="hidden" value="<%= order.soldDataId._id %>" name="sellerDataIteamId">
                                                            <input type="submit" value="cancel order"
                                                                style="background-color: #000080;border-radius: 30px;border: none; color: white;outline: none;padding:
                                                                                                                                                8px;padding-bottom: 9px;padding-left: 15px; padding-right: 15px;text-decoration: none;">
                                                        </form>
                                                    </div>
                                                </div>

                                             </div>
                                        </div>
                                 </div>
                                 </div>
                                <% } %>
                    <% }) %>
                 <% }else{ %>
                  <p style="text-align: center;margin-top: 20%;">You dont have any ongoing orders</p>
                        <% } %>
                    </div>

                    <!-- seller history section -->
                    <div id="sellerHistSection" class="container" style="display: none;margin-bottom: 200px;">
                        <% if(user.soldHistory.length > 0){ %>
                        <% user.soldHistory.forEach((order) => { %>
                        <% if(order.orderStatus === "completed"){ %>
                        <div id="foundData">
                            <div style="padding: 10px;" class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="<%= order.image %>" loading="eager" alt="" width="100%" height="230"
                                            style="margin-top: 5px;border-radius: 5px;">
                                    </div>
                                    <div class="col-md-4">
                                        <div style="margin: 10px;">
                                            <p><strong>Scrape Type</strong> : <%= order.scarpType %></p>
                                            <p><strong>Address</strong> : <%= order.hno %> ,<%= order.village %>,
                                                <%= order.street %>,
                                                <%= order.mandal %>, <%= order.district %>,
                                                <%= order.pincode %> </p>
                                            <p> <strong>posted on</strong> : <%= order.date %> , <%= order.time %> </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                    
                                        <div>
                                            <p style="margin : 10px;"><strong>Buyer Name </strong>: <%= order.boughtUser.name %></p>
                                        </div>
                    
                                        <div>
                                            <p style="margin : 10px;"><strong>Buyer Contact </strong>: <%= order.boughtUser.phonenumber %> </p>
                                        </div>
                    
                    
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                        <% }else{ %>
                        <p style="text-align: center;margin-top: 20%;">No history found</p>
                        <% } %>
                    </div>
                   
                </div>


                
           <% } %>
       <% } %>

    <div id="locationPopup" style="display: none;" onclick="off()">
        <div id="navImg">
            <p style="text-align:center;color:white"><strong>Please turn on the location</strong></p>
            <img src="../public/images/location2.gif" alt="" width="400" height="500" style="border-radius: 10px;">
        </div>
    </div>

    <script src="../public/scripts/home.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script>
       
        //navbar
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";

                document.querySelector(".topnav").style.background = "black"
                document.querySelector(".fa-times").style.display = "block"
                 document.querySelector(".fa-bars").style.display = "none"
            } else {
                x.className = "topnav";
                document.querySelector(".topnav").style.background = "transparent"
                document.querySelector(".fa-bars").style.display = "block"
                document.querySelector(".fa-times").style.display = "none"
            }
        }


        //Buyer events
        $("#acceptedIteams").click(function(){
            $("#acceptedOrderFound").show()
            $("#buyerHistorySection").hide()
            $("#foundusersNear").hide()
            $("#accepteds").addClass("active")
            $("#buyerhist").removeClass("active")
            $(".active").css({ "padding" : "3px" , "margin-top" : "-0px"})
        });
        $("#buyerhistory").click(function(){
            $("#buyerHistorySection").show()
            $("#foundusersNear").hide()
            $("#acceptedOrderFound").hide()
            $("#buyerhist").addClass("active")
            $("#accepteds").removeClass("active")
            $(".active").css({ "padding": "3px", "margin-top": "-0px" })
        })
        $("#getuserNearBtn").click(function(){
            $("#accepteds").removeClass("active")
        });


        //seller events
        $("#postedDataBtn").click(function(){
            $("#postedData").show()
            $("#ongoingOrder").hide()
            $("#sellerHistSection").hide()
            $("#posted").addClass("active")
            $("#ongo").removeClass("active")
            $("#sellerHist").removeClass("active")
        });
        

        $("#ongoingDataBtn").click(function(){
            $("#ongoingOrder").show()
            $("#postedData").hide()
            $("#sellerHistSection").hide()
            $("#posted").removeClass("active")
            $("#sellerHist").removeClass("active")
            $("#ongo").addClass("active")
            
        });
        $("#sellerHistoryBtn").click(function () {
                $("#postedData").hide()
                $("#ongoingOrder").hide()
                $("#sellerHistSection").show()
                $("#ongo").removeClass("active")
                $("#posted").removeClass("active")
                $("#sellerHist").addClass("active")
            })

          
     //selection
        $('#scarpType').change(function () {
            var sel_opt = $(this).val();

            if (sel_opt == "Books") {
                $("#booksPop").show()
                $("#bottelsPop").hide()
                $("#batteriesPop").hide()
            }
            else if (sel_opt == "Bottels") {
                 $("#booksPop").hide()
                $("#bottelsPop").show()
                $("#batteriesPop").hide()
            }
            else if (sel_opt == "Batteries") {
                 $("#booksPop").hide()
                $("#bottelsPop").hide()
                $("#batteriesPop").show()
            }

        });
        
    </script>
</body>

</html>